*.html linguist-detectable=false
*.tex linguist-detectable=false

FinalProject_microcontroller/Matrix_Sender_C/src linguist-language=C

FinalProject_microcontroller/Matrix_Sender_Python/main.py linguist-language=Python
FinalProject_microcontroller/Matrix_Sender_Python/boot.py linguist-language=Python

FinalProject_FPGA/source/impl_1/top.vhd linguist-language=VHDL
FinalProject_FPGA/source/impl_1/pattern_gen.vhd linguist-language=VHDL
FinalProject_FPGA/source/impl_1/matrix_mult.vhd linguist-language=VHDL
FinalProject_FPGA/source/impl_1/vga.vhd linguist-language=VHDL
